<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <BasePath />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <ImportMap />
    <HeadOutlet @rendermode="PageRenderMode" />
</head>

<body>
    <Routes @rendermode="PageRenderMode" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private IComponentRenderMode? PageRenderMode =>
        HttpContext?.AcceptsInteractiveRouting() == true ? InteractiveAuto : null;
}
