<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="LocalOroCQRS" value="/home/orojasga/Sources/OroCQRS/src/Core/bin/Release/" />
  </packageSources>
  <disabledPackageSources>
    <add key="LocalOroCQRS" value="true" />
  </disabledPackageSources>
</configuration>