@page "/roles/edit-claim/{Id:guid}"

@attribute [Authorize]

@using OroIdentity.Web.Client.Interfaces
@using OroIdentity.Web.Client.Models

@inject NavigationManager NavigationManager
@inject IRoleClaimsService Service

<PageTitle>Edit Role Claim</PageTitle>

<HeaderPagesComponent TitlePage="Roles" Description="Edit role claim">
    <FluentButton Appearance="Appearance.Accent" OnClick="RedirectToRoles">Back</FluentButton>
</HeaderPagesComponent>

<FluentDivider Style="width: 100%;height:20px;" Orientation=Orientation.Horizontal Role="DividerRole.Separator"></FluentDivider>

@if (claim == null)
{
    <p>Loading...</p>
}
else
{
    <FluentCard>
        <FluentStack Orientation="Orientation.Vertical" Gap="1rem">
            <FluentTextField Label="Claim Type" @bind-Value="ClaimType" />
            <FluentTextField Label="Claim Value" @bind-Value="ClaimValue" />
            <FluentButton Appearance="Appearance.Accent" OnClick="UpdateClaim">Save</FluentButton>
        </FluentStack>
    </FluentCard>
}

@code{
    [Parameter]
    public Guid Id { get; set; }
    private string ClaimType { get; set; } = string.Empty;
    private string ClaimValue { get; set; } = string.Empty;

    private RoleClaimViewModel? claim;

    protected override async Task OnInitializedAsync()
    {
        claim = await Service.GetRoleClaimByIdAsync(Id, CancellationToken.None);
    }

    private void RedirectToRoles()
    {
        NavigationManager.NavigateTo("/roles");
    }

    private async Task UpdateClaim()
    {
        if (claim == null) return;

        claim.ClaimType = NameViewModel.Create(ClaimType);
        claim.ClaimValue = NameViewModel.Create(ClaimValue);
        await Service.UpdateRoleClaimAsync(claim, CancellationToken.None);
        NavigationManager.NavigateTo($"/roles/{claim.Id.Value}");
    }
}