@using OroIdentity.Web.Client.Models
@using OroIdentity.Web.Client.Interfaces
@inject NavigationManager NavigationManager
@inject IRoleClaimsService Service
@inject IJSRuntime JSRuntime

@code {
    [Parameter]
    public Guid RoleId { get; set; }

    private List<RoleClaimViewModel> Claims = new List<RoleClaimViewModel>();

    protected override async Task OnParametersSetAsync()
    {
        await LoadClaims();
    }

    private async Task LoadClaims()
    {
        if (RoleId == Guid.Empty) return;
        var response = await Service.GetRoleClaimsByRoleIdAsync(RoleId, CancellationToken.None);
        Claims = response.Data?.ToList() ?? new List<RoleClaimViewModel>();
    }

    private void EditClaim(RoleClaimViewModel claim)
    {
        NavigationManager.NavigateTo($"/roles/edit-claim/{claim.Id.Value}");
    }

    private async Task DeleteClaim(RoleClaimViewModel claim)
    {
        var confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Delete claim?");
        if (!confirmed) return;
        await Service.DeleteRoleClaimAsync(claim.Id.Value, CancellationToken.None);
        await LoadClaims();
    }
}

<FluentDivider Style="width: 100%;height:20px;" Orientation=Orientation.Horizontal Role="DividerRole.Separator">
</FluentDivider>

<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Value</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in Claims)
        {
            <tr>
                <td>@claim.ClaimType</td>
                <td>@claim.ClaimValue</td>
                <td>
                    <FluentButton Appearance="Appearance.Accent" OnClick="@(() => EditClaim(claim))">Edit</FluentButton>
                    <FluentButton Appearance="Appearance.Stealth" OnClick="@(() => DeleteClaim(claim))">Delete
                    </FluentButton>
                </td>
            </tr>
        }
    </tbody>
</table>