@page "/application"
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using OroIdentity.Web.Client.Components
<PageTitle>Applications</PageTitle>

<table>
    <thead>
        <th>
            Algo
        </th>
    </thead>
    <tbody>
        <tr>
            Algo
        </tr>
    </tbody>
</table>