<div class="card">
    <div class="card-header">
        <h3>Resources</h3>
    </div>
    <div class="activity-item">
        <span class="activity-dot green"></span>
        <div class="activity-content">
            <a class="link" href="/permissions"><div class="title">Permissions</div></a>
            <div class="meta">System permissions</div>
        </div>
    </div>
    <div class="activity-item">
        <span class="activity-dot blue"></span>
        <div class="activity-content">
            <a class="link" href="/applications"><div class="title">Applications</div></a>
            <div class="meta">OAuth clients</div>
        </div>
    </div>
    <div class="activity-item">
        <span class="activity-dot amber"></span>
        <div class="activity-content">
            <a class="link" href="/identification-types"><div class="title">ID Types</div></a>
            <div class="meta">Document types</div>
        </div>
    </div>
    <div class="activity-item">
        <span class="activity-dot violet"></span>
        <div class="activity-content">
            <a class="link" href="/user-sessions"><div class="title">Sessions</div></a>
            <div class="meta">User sessions</div>
        </div>
    </div>
</div>
