@page "/auth"
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization


<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>

@code{
    protected override void OnInitialized()
    {
        Console.WriteLine("Auth page initialized");
    }    
}