.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.login-item-form {
    width: 500px;
    background-color: yellow;
}