@page "/account/login"

@layout LoginLayout
@attribute [AllowAnonymous]

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Identity
@using OpenIddict.Abstractions
@using OpenIddict.Validation.AspNetCore
@using OroIdentity.Web.Server.Models
@using OroIdentity.Web.Server.Services

@inject LoginService loginService
@inject IHttpContextAccessor httpContextAccessor
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Log in</PageTitle>

<FluentLayout Style="display:flex; justify-content: center; align-items:center">
<FluentGrid Justify="JustifyContent.Center" AdaptiveRendering="true">
    <FluentGridItem xs="12" md="12" >
    <FluentCard Width="450px">
        <StatusMessages Message="@errorMessage" />
        <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
            <DataAnnotationsValidator />
            <h1>OroIdentityServer</h1>
            <hr />
            <FluentValidationSummary class="text-danger" role="alert" />
            <FluentStack Orientation="Orientation.Vertical">
                <FluentTextField Id="email" Name="Input.Email" @bind-Value="Input.Email" AutoComplete="username" Required="true"
                    Placeholder="name@example.com" Label="Email" Style="width: 100%" />
                <FluentValidationMessage For="() => Input.Email" class="text-danger" />
                <FluentTextField Id="password" type="password" Name="Input.Password" @bind-Value="Input.Password"
                    AutoComplete="current-password" Required="true" Placeholder="password" Label="Password"
                    Style="width: 100%" />
                <FluentValidationMessage For="() => Input.Password" class="text-danger" />
                <FluentCheckbox Name="Input.RememberMe" @bind-Value="Input.RememberMe" Label="Remember me" />
                <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent" Style="width: 100%">Log in
                </FluentButton>
            </FluentStack>
        </EditForm>
    </FluentCard>
    </FluentGridItem>
</FluentGrid>
</FluentLayout>

@code {
    private string? errorMessage;
    private EditContext editContext = default!;
    private HttpContext HttpContext => httpContextAccessor.HttpContext!;

    [SupplyParameterFromForm]
    private LoginInputModel Input { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Input ??= new();

        editContext = new EditContext(Input);

        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(CookieAuthenticationDefaults.AuthenticationScheme);
        }
    }

    public async Task LoginUser()
    {

       var response = await loginService.LoginRequest(Input, CancellationToken.None);

       if(response is null)
       {
        errorMessage = "Request to login badrequest or invalid";
       }

       if(response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
       {
        errorMessage = "Email or Password invalid or unauthorized";
       }
       if(response.StatusCode == System.Net.HttpStatusCode.OK)
       {
            RedirectManager.RedirectTo(ReturnUrl);
       }
       if(response.StatusCode.Equals(System.Net.HttpStatusCode.BadRequest))
       {
        errorMessage = "Bad request";
       }
    }
}