@page "/permissions/{permissionId:guid}"
@using OroIdentity.Web.Client.Interfaces
@using OroIdentity.Web.Client.Models

@attribute [Authorize]

@inject NavigationManager NavigationManager
@inject IPermissionsService Service
@inject IToastService ToastService

<PageTitle>Edit Permission</PageTitle>

<HeaderPagesComponent TitlePage="Permissions" Description="Manage your permissions">
    <FluentButton Appearance="Appearance.Accent" OnClick="RedirectToPermissions">Back</FluentButton>
</HeaderPagesComponent>

<FluentDivider Style="width: 100%;height:20px;" Orientation=Orientation.Horizontal Role="DividerRole.Separator">
</FluentDivider>

@if (permission == null)
{
    <div>Loading...</div>
}
else
{
    <FluentEditForm Model="@permission" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div style="display:flex;justify-content:flex-end;gap:8px;margin-bottom:8px;">
            <FluentButton Appearance="Appearance.Lightweight" OnClick="Cancel">Cancel</FluentButton>
            <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Update permission</FluentButton>
        </div>
        <FluentGrid Spacing="1">
            <FluentGridItem>
                <FluentCard>
                    <div style="padding:12px; display:flex; flex-direction:column; gap:8px;">
                        <FluentLabel Typo="Typography.H5">Permission information</FluentLabel>
                        <FluentTextField @bind-Value="permission.Name" Label="Permission name" Required="true" />
                        <ValidationMessage For="() => permission.Name" />
                        <FluentTextField @bind-Value="permission.DisplayName" Label="Display name" />
                        <ValidationMessage For="() => permission.DisplayName" />
                        <FluentTextField @bind-Value="permission.Description" Label="Description" />
                        <FluentTextField @bind-Value="permission.Resource" Label="Resource" />
                        <ValidationMessage For="() => permission.Resource" />
                        <FluentCheckbox @bind-Checked="permission.IsSystem">System</FluentCheckbox>
                    </div>
                </FluentCard>
            </FluentGridItem>
        </FluentGrid>
    </FluentEditForm>
}

@code {
    [Parameter]
    public Guid permissionId { get; set; }

    public PermissionViewModel? permission { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CancellationTokenSource cts = new CancellationTokenSource(TimeSpan.FromMinutes(2));
        permission = await Service.GetPermissionByIdAsync(permissionId, cts.Token);
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/permissions");
    }

    private async Task HandleSubmit()
    {
        CancellationTokenSource token = new CancellationTokenSource(TimeSpan.FromMinutes(2));
        await Service.UpdatePermissionAsync(permission!, token.Token);
        ToastService.ShowSuccess("Permission updated successfully");
        NavigationManager.NavigateTo("/permissions");
    }

    private void RedirectToPermissions()
    {
        NavigationManager.NavigateTo("/permissions");
    }
}