@inject NavigationManager NavigationManager
@using OroIdentity.Frontends.Services

<FluentGrid Align="AlignItems.Center" Style="height:110px;">
    <FluentGridItem xs="6" md="6" lg="6">
        <div style="display:flex; align-items:center; gap:10px;">
            <FluentButton IconEnd="@(new Icons.Regular.Size20.ArrowLeft())"
                          OnClick="(()=> NavigationManager.NavigateTo(ROOT))" />
            <FluentLabel Typo="Typography.PageTitle">
                @TitlePage
            </FluentLabel>
        </div>
    </FluentGridItem>
    <FluentGridItem xs="6" md="6" lg="6" Style="display:flex; justify-content:flex-end; align-items:center;">
        @ChildContent
    </FluentGridItem>
    <FluentGridItem xs="12">
        <FluentLabel Typo="Typography.H6">
            @Description
        </FluentLabel>
    </FluentGridItem>
</FluentGrid>

@code {
    [Parameter]
    public string TitlePage { get; set; } = string.Empty;
    [Parameter]
    public string Description { get; set; } = string.Empty;
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    private string ROOT = "/";

    protected override void OnInitialized()
    {
    }

    private void Refresh()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
    }
}